{% extends 'festival/base.html' %}
{% load static %}
{% block content %}

<!-- HOMEPAGE ASTRATTA / TIPOGRAFICA -->
<section class="poster-hero d-flex flex-column justify-content-between px-5 my-3">
    
    <div class="row align-items-center justify-content-center my-3">
        <div class="col-12 text-center">
            <h1 class="fw-bold text-uppercase text-ink mb-1">Varie informazioni</h1>
        </div>
        <hr>
    </div>


    <!-- IMMAGINE MASCOTTE RESPONSIVE -->
    <div class="text-center mb-5">
        <img src="{% static 'img/locandina.webp' %}" alt="Mascotte Flanella" class="hero-mascot-img" style="max-width: 300px;">
        
        <span class="d-block align-center mt-2 italic">⮤ ( locandina ) ⮥</span>
    </div>
    
    <div class="text-center mb-5">
        <img src="{% static 'img/schedule.webp' %}" alt="Mascotte Flanella" class="hero-mascot-img" style="max-width: 300px;">
        
        <span class="d-block align-center mt-2 italic">⮤ ( programma ) ⮥</span>
    </div>
    
    <div class="text-center mb-5">
        <video controls playsinline class="w-100 rounded border-ink" style="max-width: 300px;">
            <source src="{% static 'video/prnd1pstcn.mp4' %}" type="video/mp4">
        </video>
        <a href="{% url 'register' %}" style="text-decoration: none; color: inherit;"><span class="d-block align-center mt-2 italic">⮤ ( prendi un posticino ) ⮥</span></a>
    </div>
    
    {% comment %} <hr class="mb-3"> {% endcomment %}

    <div class="text-end mb-0">
        <ul style="list-style-position: inside;">
            <li>c'è da bere? SI</li>
            <li>c'è da nutrirsi? SI</li>
            <li>opzioni vegane? SI</li>
            <li>c'è da far casino? TANTO</li>
            <li>c'è da far casino? TANTO</li>
            <li>opzioni vegane? SI</li>
            <li>c'è da nutrirsi? SI</li>
            <li>c'è da bere? SI</li>
        </ul>
    </div>

    <span><u>ci si becca sotto il palco</u></span>

</section>

{% endblock %}